<form action="/customer/create" method="POST">
	<h2>Create Customer</h2>
	<input type="text" name="name" placeholder="Name" /><br/>
	<input type="email" name="email" placeholder="Email" />
	<input type="text" name="state" placeholder="State" />
	<input type="submit" value="Create Customer" />
</form>